# Final Assignment: Create and Share Your Jupyter Notebook BY Razan Alsallumi

## Exercise 1: Create a Jupyter Notebook
### Create a new Jupyter notebook called DataScienceEcosystem.ipynb

### _My soluation_: 

[Click here](https://ibb.co/gWBBhJH)

## Exercise 2: Create markdown cell with title of the notebook

### _My soluation_:

# Data Science Tools and Ecosystem

## Exercise 3 - Create a markdown cell for an introduction

### _My soluation_: 

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

1. _Making markdown cells in multi statuses._
2. _Review data science course information._
3. _Ensure all this course's tools are understand and workable._

## Exercise 4 - Create a markdown cell to list data science languages

### _My soluation_: 

Some of the popular languages that Data Scientists use are:
1. python
2. R

## Exercise 5 - Create a markdown cell to list data science libraries

### _My soluation_: 

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn

## Exercise 6 - Create a markdown cell with a table of Data Science tools

### _My soluation_: 

| Data Science Tools |
|---|
|Jupyter Notebook|
|Github|

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### _My soluation_: 

### Below are a few examples of evaluating arithmetic expressions in Python:

1. ** -> for exponentiation.
2. // -> for integer division
3. % -> for modulus

## Exercise 8 - Create a code cell to multiply and add numbers

### _My soluation_:

In [1]:
 # This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

## Exercise 9 - Create a code cell to convert minutes to hours

### _My soluation_:

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

## Exercise 10 - Insert a markdown cell to list Objectives

### _My soluation_: 

[Click here](photo/10-objectives.png)

## Exercise 11 - Create a markdown cell to indicate the Author's name

### _My soluation_:

## Author

[Razan Alsallumi ](https://www.linkedin.com/in/razan-alsallumi-443078179/)